body{
    background-color:#19A1AE;
    background-image:url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
    background-position:top -500px left -500px, bottom -500px right -520px;
    background-repeat: no-repeat;
    margin:0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    margin-top: 120px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 349.5px;
    border-radius: 8px;
}
.cover{
  position: relative;
  top: 0;
  left: 0;
  border-radius: 3px;

}
.victor{
    background-color:rgb(218, 143, 143);
    position: absolute;
    top: 90px;
    left: 120px;
    border-radius: 50px;
    border: 7px solid #FFFFFF;
}
.container h1{
    color: #2E3349;
    font-size: 18px;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 120px;
    line-height: 22.32px;

}
.container span{
    color: #6B7082;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.32px;
} 
.container p{
    color:#6B7082;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.36px;
    margin-left: 155px;
    margin-top: 13px;
}
.rectangle{
    height: 1px;
    width: 350px;
    background-color:grey;
    margin-top: 17px;
    margin-bottom: 10px;
}
.followers{
    justify-content: space-between;
    margin-top: 10px;
}
.followers h1{
    margin-left:50px;
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 700;
}
.followers span.one{
    margin-left: 80px;
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 700;
    color: #2E3349;
    
}
.followers span.second{
    margin-left:70px;
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 700;
    color: #2E3349;
}
.followers p{
    margin-left:42px;
    margin-top: 9px; 
    font-weight: 400;
    font-size: 14px;
    
}
.likes{
    margin-left: 62px;
    margin-top: 9px;
}
.photos{
    margin-left:65px;
    margin-top: 9px;
}